# OS metadata
.DS_Store
Thumbs.db
ehthumbs.db

# Dependencies & package cache
node_modules/
.npm

# Build & deployment artifacts
.vercel/
.netlify/
dist/
build/

# Environment variables
.env
.env.local
.env.*.local
